.breadcrumb-divider {
  position: absolute;
  left: -1px;
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: theme('colors.gray-2');

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin-top: -6px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: '';
  }

  &::before {
    z-index: 1;
    margin-left: 1px;
    border-left: 6px solid theme('colors.gray-5');
  }

  &::after {
    z-index: 2;
    border-left: 6px solid theme('colors.white');
  }
}
