.rolegroup-dropdown .components-button.components-custom-select-control__button.is-small {
  width: 100%;
  color: theme('colors.gray-90');

  @media (min-width: theme('screens.lg')) {
    min-width: 184px;
  }
}
